= semantic_form_for @form do |f|
  = f.inputs do
    = f.input :title
    
    %h3 
      Fields
    #tasks
      = f.semantic_fields_for :form_fields do |field|
        = render 'form_field_fields', :f => field
      .links
        = link_to_add_association '[Plus Icon]', f, :form_fields
    
  = f.actions do
    = f.action :submit
