.container
  %h1
    = @form.title

  %h4
    = "Form #{@form.number}"

  - if @form.description
    %p
      = @form.description

  %p
    %strong Agency:
    = @form.agency_name
    %br
    %strong Published:
    = @form.published_at.strftime("%a %-d %B %Y")
    %br
    %strong
      Form approved:
    (pull this from reginfo)
    - if @form.omb_expiration_date
      %br
      %strong Exp. Date:
      = @form.omb_expiration_date.strftime("%a %-d %B %Y")

  %p
    .btn-group
      %a{:class=>"btn btn-primary btn-lg", :href=>"#{@form.number}/start"}
        Take me to the form
  %p

  #form-info.tab-content
    %ul{'class'=>'nav nav-tabs', 'data-tabs'=>'tabs'}
      - @navigation_items.each_with_index do |(key,val),index|
        - if @form.send(key)
          %li{:class=> (index == 0 ? "active" : nil)}
            %a{"data-toggle"=>"tab","href"=>"##{val[:link]}"}
              = val[:title]


    - @navigation_items.each_with_index do |(key,val),index|
      - if @form.send(key)
        .tab-pane{:class=>"#{val[:link]} #{'active' if index == 0}", :id=> val[:link]}
          %h3
            = val[:title]
          %p
            = raw @markdown.render(@form.send(key))


  #pra
    %p
      %strong Paperwork Reduction Act
      %br
      This information collection meets the requirements of 44 U.S.C. ยง 3507, as amended by Section 2 of the Paperwork Reduction Act of 1995. You do not need to answer these questions unless we display a valid Office of Management and Budget control number. We estimate that it will take about 20 minutes to read the instructions, gather the facts, and answer the questions. (time burdern hours * 60 / responses)

