.container
  %h3
    = form_title(@form)
  %p
    This page will contain information about the form, including background information on what you need to fill it, what you'll need to do, if anything, to provide additional verification, and what to do with the form once it's been filled out.
  %p
    This page will then take the user to an HTML form page that they can fill out with their information.  Or maybe that's just part of this page. I like it all being a part of this page.
  %p
    So down here, we will iterate through the form fields and create input fields to fill out the form.

  %script
    != "var myUsaFormTooltips = #{@form.form_fields.map(&:name).to_json}"

  %p
    = semantic_form_for "data", :url => form_submissions_path(@form) do |f|
      = f.inputs do
        = f.input :form_id, :as => :hidden, :input_html => { :value => @form.id }
        - @form.form_fields.each do |form_field|
          = form_input(f, form_field)

      = f.actions do
        = f.action :submit, :as => :button, :label => "Submit Form"
  - if @form.omb_control_number
    %p#omb
      %small.right
        = omb_info(@form)


